<div class="view">
    <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-edit"></span> {{vm.title}} Note</h3>
        </header>
        <form name="editForm" novalidate>
            <div class="customerEdit">
                <div class="row">
                    <div class="col-md-12">
                        <h4>{{ vm.customer.firstName + ' ' + vm.customer.lastName }} <span data-ng-hide="vm.customer.id == 0">(<a style="font-size:12pt" href="#/customerorders/{{vm.customer.id}}">View Orders</a>)</span></h4>
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        Subject:
                    </div>
                    <div class="col-md-10">
                        <input type="text" name="note" class="form-control" data-ng-model="vm.note.subject" required />
                        <span class="errorMessage" ng-show="editForm.note.$touched && editForm.note.$invalid">
                            Subject is required
                        </span>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2">
                        Type:
                    </div>
                    <div class="col-md-10">
                        <input type="text" name="type" class="form-control" data-ng-model="vm.note.type" required />
                        <span class="errorMessage" ng-show="editForm.type.$touched && editForm.type.$invalid">
                            Type is required
                        </span>
                    </div>
                </div>                
                <br />
                <div class="row">
                    <div class="col-md-2">
                        Sector:
                    </div>
                    <div class="col-md-10">
                        <input type="text" name="sector" class="form-control" data-ng-model="vm.note.mainType" required />
                        <span class="errorMessage" ng-show="editForm.sector.$touched && editForm.sector.$invalid">
                            Sector is required
                        </span>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2">
                        Content:
                    </div>
                    <div class="col-md-10">
                        <textarea class="form-control" rows="3" name="content" data-ng-model="vm.note.content"></textarea>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary" data-ng-click="vm.saveNote()"
                                ng-disabled="editForm.$invalid || !editForm.$dirty">
                            {{vm.buttonText}}
                        </button>
                        &nbsp;&nbsp;
                        <button class="btn btn-danger" data-ng-if="vm.customer.id > 0" data-ng-click="vm.deleteCustomer()">Delete</button>
                    </div>
                </div>
                <br />
                <div class="statusRow">
                    <br />
                    <div class="label label-success" data-ng-show="vm.updateStatus">
                        <span class="glyphicon glyphicon-thumbs-up icon-white"></span>&nbsp;&nbsp;Customer updated!
                    </div>
                </div>
                <div class="statusRow">
                    <br />
                    <div class="label label-important" data-ng-show="vm.errorMessage">
                        <span class="glyphicon glyphicon-thumbs-down icon-white"></span>&nbsp;&nbsp;Error: {{ vm.errorMessage }}
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
